<link rel="stylesheet" href="<%= process.env.BASE_URL %>/stylesheets/header.css" />
<header class="site-header">
    <div style=" display: flex;">
        <div class="site-identity">
            <h1><a href="#">Dream Boarding House</a></h1>
        </div>
        <nav class="site-navigation">
            <ul class="nav-header">
                <li>
                    <a href="/">TRANG CHỦ</a></li>
                <% if(user) {%>
                    <%if(role !== "Người thuê trọ") {%>
                        <li><a href="/room/post">ĐĂNG TIN</a></li>
                        <li> <a href="/innkeeper/myRoom/all">QUẢN LÝ BÀI ĐĂNG</a></li>
                        <li> <a href="/innkeeper/select/yourRoom">PHÒNG CHO THUÊ</a></li>
                        <%} else {%>
                            <li><a href="/favoriteList/rooms">DANH SÁCH YÊU THÍCH</a></li>
                            <li></li><a href="/room/selectRoom/All">PHÒNG ĐÃ THUÊ</a></li>
                            <li> <a href="/user/innkeeper/all">CHỦ TRỌ YÊU THÍCH</a></li>
                            <%}%>
                                <li> <a href="/user/infor">QUẢN LÝ THÔNG TIN</a></li>
                                <li class="notifi"> <a href="/notification/innkeeper/all">THÔNG BÁO</a>
                                    
                                    <span id="data-noti" data-number="<%=numberNotification%>"></span>
                                    <%if(numberNotification>0) {%>
                                        <label for="" class="numberNotify"><%=numberNotification%></label>
                                    <%} else if(numberNotification===0) {%>
                                        <label for="" class="numberNotify" style="display: none !important;"><%=numberNotification%></label>
                                    <%}%>
                                </li>
                                <!-- <li>
                                    <a href="">
                                        <%= user.username %>
                                    </a>
                                </li> -->
                                <li> <a href="/logout" class="nav-link">Đăng xuất</a></li>
                                <%} else{%>
                                    <div class="login-register">
                                        <button class="btn-login">
                                            <a href="/login " style=" color: #fff">ĐĂNG NHẬP</a>
                                        </button>
                                        <button class="btn-register">
                                            <a href="/register" style=" color: #fff">ĐĂNG KÝ</a>
                                        </button>
                                    </div>
                                    <% } %>
            </ul>
        </nav>
    </div>
    <%if(showSearch === "yes") {%>
        <div class="s007">
            <form action="/search" method="POST">
                <div class="inner-form">
                    <div class="basic-search">
                        <div class="input-field" style="padding-bottom: 10px;">
                            <input id="search" type="text" placeholder="Nhập giá phòng, kiểu phòng..." name="text" />
                            <button type="submit" class="btn">Tìm Kiếm</button>
                        </div>
                        <div class="advance-search">
    
                            <span class="desc">Tùy Chọn Tìm Kiếm</span>
                            <div class="row">
                                <div class="input-field">
                                    <div class="input-select">
                                        <select class="custom-select" name="type" id="type">
                                    <option value="" selected>Kiểu phòng</option>
                                    <option value="Phòng trọ">Phòng trọ</option>
                                    <option value="Căn hộ">Căn hộ</option>
                                  </select>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <div class="input-select">
                                        <select class="custom-select" name="price" id="price">
                                    <option value="" selected>Giá phòng</option>
                                    <option value="1000000">dưới 1.000.000 vnđ</option>
                                    <option value="2000000">dưới 2.000.000 vnđ</option>
                                    <option value="5000000">dưới 5.000.000 vnđ</option>
                                    <option value="8000000">dưới 8.000.000 vnđ</option>
                                    <option value="10000000">dưới 10.000.000 vnđ</option>
                                    <option value="20000000">dưới 12.000.000 vnđ</option>
                                  </select>
                                    </div>
                                </div>
                                <div class="input-field">
                                    <div class="input-select">
                                        <select class="custom-select" name="acreage" id="acreage">
                              <option value="" selected>Diện tích</option>
                              <option value="30">30 m2</option>
                              <option value="40">40 m2</option>
                              <option value="60">60 m2</option>
                              <option value="80">80 m2</option>
                              <option value="100">Trên 100 m2</option>
                            </select>
                                    </div>
                                </div>
                                <button style="margin-top: 0px; width: 120px; margin-right: -8px" type="submit" class="btn">Lọc kết quả</button>
                            </div>
                        </div>
                    </div>
            </form>
            </div>
    <%}%>
</header>